body {
	margin-left: 25px;
	margin-right: 25px;
    background-color: #7E8F7C;
    font-family: "Helvetica", Arial, "Times New Roman";
}

h1 {
    color: #3B3738;
    font-family: "Lucida Console", Monaco, monospace;
}

.right {
	text-align: right;
}

#content {
    width: 100%;
}
#sidebar {
    float: left;
    width: 200px;
    height: 100%;
    background-color: #ccc;
    background-clip: padding-box;
    padding: 15px;
}

#sortByDiv {
    float: right;
}

#hint {
    float: left;
    padding-top: 15px;
    padding-left: 15px;
}

li{
  float:left;
  display:inline;
  width: 250px;
}

#results {
    padding: 30px;
    float: right
    width: 75%;
}

output {
    float: right;
}

.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}

.box {
    width: 400px;
}

legend {
    color: White;
}

fieldset {
    border-radius: 20px;
}

input {
    border-radius: 10px;
}